# SF Salaries Exercise

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
Salaries = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [46]:
Salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
print (Salaries.shape)

print ("\n ============== \n")

Salaries.info()

(148654, 13)

 ==============

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [9]:
print (f"the average of the Pays is  : {Salaries['BasePay'].mean()}")

the average of the Pays is  : 66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [12]:
Maxium = 0 
for Num in Salaries['OvertimePay'].unique() : 
    if Num > Maxium : 
        Maxium = Num 

print (f"the maxim number in overtimepay  is  : {Maxium}")

the maxim number in overtimepay  is  : 245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [15]:

JOSEPH_DRISCOLL_info = Salaries[Salaries['EmployeeName'] == 'JOSEPH DRISCOLL']
Work= JOSEPH_DRISCOLL_info['JobTitle']
Work

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [21]:
JOSEPH_DRISCOLL_info = Salaries[Salaries['EmployeeName']=='JOSEPH DRISCOLL']
JOSEPH_DRISCOLL_TotalPay = JOSEPH_DRISCOLL_info['TotalPay']
JOSEPH_DRISCOLL_TotalPay

24    270324.91
Name: TotalPay, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [22]:
Maxium =0 
for Num  in Salaries['TotalPay'] :
    if Num > Maxium :
        Maxium = Num 

Data = Salaries[Salaries['TotalPay']==Maxium] 
Data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [24]:
Minium =Maxium
for Num in Salaries['TotalPay']:
    if Num < Minium :
        Minium = Num

Data = Salaries[Salaries['TotalPay'] == Minium]
Data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [25]:
Mean_BasePay = Salaries['BasePay'].mean()
Mean_BasePay

66325.44884050643

** How many unique job titles are there? **

In [27]:
Number_of_UniqueJos = Salaries['JobTitle'].unique().shape[0]
print (f"The Number of the unique Jobs : {Number_of_UniqueJos}")

The Number of the unique Jobs : 2159


** What are the top 5 most common jobs? **

In [51]:
Job_Count= {}
for Job in Salaries['JobTitle'].unique():
    Salaries_Job = Salaries[Salaries['JobTitle']==Job]
    Job_Count[Job]= Salaries_Job.shape[0]

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [102]:
Counter =0 
Salaries_2013 = Salaries[Salaries['Year'] == 2013 ]
for Job in Salaries_2013['JobTitle'] : 
    if Job_Count[Job] == 1 :
        Counter+=1

print (Counter)

6

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [105]:
Counter =0 
for Job_Check in Salaries['JobTitle']: 
    if 'Chief' in Job_Check : 
        Counter+=1
print (Counter)

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [111]:
Salaries['Title_Len'] = Salaries['JobTitle'].apply(len)
Salaries[['Title_Len','TotalPay']].corr()

           Title_Len  TotalPay
Title_Len   1.000000 -0.015356
TotalPay   -0.015356  1.000000

# Great Job!